# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Bin/
MDK-ARM/MINI_P_I2C_UART/
Listings/
.vscode/
MDK-ARM/JLinkLog.txt
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/JLinkSettings.ini
MDK-ARM/*.wood
MDK-ARM/*.uvprojx
MDK-ARM/*.uvoptx
MDK-ARM/MINI_P_I2C_UART/
/*.Cherry Goh
